.asset1{
    position: absolute;
    left:0;
    top:0;  
    max-width: 16%;  
}

.asset2{
    position: absolute;
    right: 0;
    top: 0;
    max-width: 16%;
 
}

.asset51{
    position: absolute;
    left:0;
    top:1400px;
    max-width: 16%;

}
.asset52{
    position: absolute;
    left:0;
    top:3400px;
    max-width: 16%;

}
.asset61{
    position: absolute;
    right: 0;
    top: 1900px;
    max-width: 16%;
}
.asset71{
    position: absolute;
    left:0;
    top: 2400px;
    max-width: 16%;

}
