.service_container{
    position: relative;
  }
  .service{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
    color: #000000;
    
    @media (max-width :map-get($breakpoints,xl)){
        font-size: 46px !important;
        line-height: 55px !important;
    }
    @media (max-width :map-get($breakpoints,lg)){
        font-size: 40px !important;
        line-height: 50px !important;
    }
    @media (max-width :map-get($breakpoints,md)){
        font-size: 34px !important;
        line-height: 45px !important;
    }
    @media (max-width :map-get($breakpoints,sm)){
        font-size: 24px !important;
        line-height: 35px !important;
    }
    
    @media (max-width :474px){
        text-align: center !important;
        font-size: 20px !important;
        line-height: 20px !important;
    }
  
    &::after{
      content: "";
      width: 120px;
      border: 3px solid #A9A9A9;
      position: absolute;
      left: 10px;
      bottom: 0;
      border-radius: 20px;
    }
    }
    .service_underline{
      width: 200px;
      position: absolute;
      left: 10px;
      bottom: -14px;
  
    }
.text-para {

    margin: auto;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;

    color: #2C2C2C;

    @media(max-width(map-get($breakpoints, xl))) {
        font-size: 14px;
        font-weight: 370;
        line-height: 26px;
    }

    @media(max-width(map-get($breakpoints, lg))) {
        font-size: 12px;
        font-weight: 320;
        line-height: 22px;
    }

    @media(max-width(map-get($breakpoints, md))) {
        font-size: 10px;
        font-weight: 270;
        line-height: 18px;
    }

    @media(max-width(map-get($breakpoints, sm))) {
        font-size: 8px;
        font-weight: 200;
        line-height: 13px;
    }


}

.imgsOfServices {
    @media (max-width: 575px) {
        max-width: 100%;

    }
}

.servicesDiv {
    @media (max-width: 575px) {
        display: flex !important;
        flex-direction: column !important;
        margin-top: 5px;
        padding: 7px
    }



}

.customClass {
    @media (max-width: 575px) {
        text-align: center !important;
    
    }
    
    


}

#services {

    :nth-child(2),
    :nth-child(4) {
        :first-child {

            @media (max-width: 575px) {


                flex-direction: column-reverse !important;
            }
        }

    }
}